@page
@using TorneoFutbol.App.Dominio
@model TorneoFutbol.App.Frontend.Pages.Arbitros.IndexModel
@{
}
<form method="get">
<div class="form-inline">
    <label class="sr-only" for="g">Filtro</label>
    <input type="text" name="g" id="g" asp-for="@Model.gActual"  class="form-control mb-2 mr-sm-2"
         placeholder="Filtrar por Nombre" />
         
        <button type="submit" class="btn btn-primary mr-sm-2 mb-2">Filtrar</button>          

</div>
    
</form>
<h1>Listado de Arbitros</h1>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Colegio</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arbitro in Model.arbitro)
        {
            <tr>
                <td>@arbitro.Nombre</td>
                <td>@arbitro.Documento</td>
                <td>@arbitro.Telefono</td>
                <td>@arbitro.Colegio</td>
                <td>
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@arbitro.Id">Detalle</a>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@arbitro.Id">Editar</a>
                </td>
            </tr>
        }
        
    </tbody>
    
</table>
<a class="btn btn-primary" asp-page="./Create">Crear Arbitro</a>
