@page
@model TorneoFutbol.App.Frontend.Pages.Equipos.DetailsModel
@{
}
<h1>Detalles de los Equipos</h1>
<table class="table table-striped">
        <tr>
            <th scope="col">Nombre</th>
            <td>@Model.equipo.Nombre</td>
        </tr>
        <tr>
            <th scope="col">CantidadPartidosJugados</th>
            <td>@Model.equipo.CantidadPartidosJugados</td>
        </tr>
        <tr>
            <th scope="col">CantidadPartidosGanados</th>
            <td>@Model.equipo.CantidadPartidosGanados</td>

        </tr>   
        <tr>
            <th scope="col">CantidadPartidosEmpatados</th>
            <td>@Model.equipo.CantidadPartidosEmpatados</td>
        </tr>   
            
        <tr>
            <th scope="col">GolesAFavor</th>
            <td>@Model.equipo.GolesAFavor</td>
        </tr>    
        <tr>
            <th scope="col">GolesEnContra</th>
            <td>@Model.equipo.GolesEnContra</td>
        </tr>
        <tr>
            <th scope="col">Puntos</th>
            <td>@Model.equipo.Puntos</td>
        </tr>       
        <tr>
            <th scope="col">Municipio</th>
            @if (Model.equipo.Municipio == null)
            {
                <th>
                    <a class="btn btn-secondary" asp-page="./AddMunicipio" asp-route-id="@Model.equipo.Id">
                        AsignarMunicipio
                    </a>
                </th>
            }
            else
            {
                <td>@Model.equipo.Municipio.Nombre</td>
            }
            
        </tr>  
        <tr>
            <th scope="col">DirectorTecnico</th>
            @if (Model.equipo.DirectorTecnico == null)
            {
                <th>
                    <a class="btn btn-secondary" asp-page="./AddDirectorTecnico" asp-route-id="@Model.equipo.Id">AsignarDirectorTecnico</a>
                </th>
            }
            else
            {
                <td>@Model.equipo.DirectorTecnico.Nombre</td>
            }
            
        </tr>     
          
        
</table>

<a class="btn btn-secondary" asp-page="./Index">Volver</a>